@import url('https://fonts.googleapis.com/css?family=Roboto:300,700,800');
$sans-light: "Roboto";
$white: #FFF;
$background: #ebeced;
$blackish: #090a0a;
$whitish: #fbfbfc;
$table-grey: #ddd;
$callout-grey: #ccc;
$link-grey: #9d9d9d;
$link-hover-white: $white;
$link-hover-grey: #333;
$contrast-dark: #25346d;
$cc-body-border: #ffe4c4;

#cc-info {
  max-width: 1124px;
  padding: 10px;
  margin: 25px auto;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: $background;
  font-family: $sans-light;
  color: $blackish;
  a {
    color: $blackish;
    &:visited {
      color: $blackish;
    }
    &:hover, &:focus, &:active {
      color: $callout-grey;
    }
  }

  .cc-flex-item-image {
    padding: 5px;
    width: 15%;
    img {
      width: 100%;
      height: auto;
    }
  }

  .cc-flex-item {
    padding: 5px;
    width: 100%;
    @media all and (min-width: 568px) {
        width: 49%;
        padding: 0;
    }
  }

  .cc-flex-item-75 {
    padding: 5px;
    width: 100%;
    @media all and (min-width: 568px) {
        width: 75%;
        padding: 0;
    }
  }

  .cc-flex-item-76 {
    padding: 5px;
    width: 100%;
    @media all and (min-width: 568px) {
        width: 76%;
        padding: 0;
    }
  }

  .cc-flex-item-25 {
    padding: 5px;
    width: 100%;
    @media all and (min-width: 568px) {
        width: 25%;
        padding: 0;
    }
  }

  .cc-flex-item-22 {
    padding: 5px;
    width: 100%;
    @media all and (min-width: 568px) {
        width: 22%;
        padding: 0;
    }
  }

  .cc-flex-item-text {
    padding: 5px;
    // width: 75%;
  }

  .cc-flex-wrap {
    max-width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .cc-callout-div {
    padding: 0 5px;
    color: $table-grey;
  }

  .cc-header-item {
    height: 100px;
  }

  .cc-small-text {
    font-size: .75em;
  }

  .cc-uppercase {
    text-transform: uppercase;
    margin: 0;
  }

  .cc-link {
    text-decoration: none;
  }

  .cc-body {
    height: 300px;
    background: $white;
    margin-bottom: 10px;
  }

  .cc-image {
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }

  .cc-header-title {
    font-weight: 700;
    img {
      width: 250px;
    }
  }
  .cc-header-text {
    h3 {
      margin-top: 0;
    }
    a {
      text-decoration: none;
    }
  }

  .cc-google-map {
    display: block;
    .cc-map {
      // width: 250px;
      height: 300px;
    }
  }
  .location-wrapper {
    overflow-y: scroll;
    .cc-map-title {
      font-size: 1.5em;
      text-align: center;
      display: block;
      padding: 1.5rem 0;
    }
    .cc-location-table-row {
      margin: .25em;
      border-top: $callout-grey solid 1px;
      .cc-location-table-row-title {
        padding: .25em;
        font-weight: 700;
      }
      .cc-location-table-row-comment {
        padding: .25em;
      }
      .cc-location-table-row-desc {
        padding: .25em;

      }
      .cc-location-table-row-addr {
        padding: .25em;
      }
      .cc-location-table-row-links {
        text-align: right;
        .map-links {
          font-family: $sans-light;
          display: inline-block;
          padding: 3px;
          text-align: center;
          color: $contrast-dark;
          &:first-child {
            border-right: 1px solid $contrast-dark;
          }
          &:last-child {
            margin-right: 0;
          }
          a {
            .fa {
              padding-left: 3px;
            }
          }
        }
      }
    }
    .cc-footer {
      background-color: $blackish;
      text-align: center;
      color: $whitish;
      .cc-footer-text {
        font-size: .75em;
        padding: 1em 0;
        p {
          margin: 0 !important;
          a {
            color: $callout-grey;
            &:visited {
              color: $callout-grey;
            }
            &:hover, &:active, &:focus {
              color: $link-grey;
            }
          }
        }
      }
    }
  }
}
