@import url("https://fonts.googleapis.com/css?family=Roboto:300,700,800");
#cc-info {
  max-width: 1124px;
  padding: 10px;
  margin: 25px auto;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #ebeced;
  font-family: "Roboto";
  color: #090a0a; }
  #cc-info a {
    color: #090a0a; }
    #cc-info a:visited {
      color: #090a0a; }
    #cc-info a:hover, #cc-info a:focus, #cc-info a:active {
      color: #ccc; }
  #cc-info .flex-item-image {
    padding: 5px;
    width: 15%; }
    #cc-info .flex-item-image img {
      width: 100%;
      height: auto; }
  #cc-info .flex-item {
    padding: 5px;
    width: 100%; }
    @media all and (min-width: 568px) {
      #cc-info .flex-item {
        width: 48%;
        padding: 0; } }
  #cc-info .flex-item-text {
    padding: 5px; }
  #cc-info .cc-header-item {
    height: 100px; }
  #cc-info .cc-small-text {
    font-size: .75em; }
  #cc-info .cc-body {
    height: 300px;
    background: #FFF;
    margin-bottom: 10px; }
  #cc-info .cc-image {
    overflow: hidden; }
    #cc-info .cc-image img {
      width: 100%;
      height: auto; }
  #cc-info .cc-header-title {
    font-weight: 700; }
    #cc-info .cc-header-title img {
      width: 250px; }
  #cc-info .cc-header-text h3 {
    margin-top: 0; }
  #cc-info .cc-header-text a {
    text-decoration: none; }
  #cc-info .cc-google-map {
    display: block; }
    #cc-info .cc-google-map .cc-map {
      height: 300px; }
  #cc-info .location-wrapper {
    overflow-y: scroll; }
    #cc-info .location-wrapper .cc-map-title {
      font-size: 1.5em;
      text-align: center;
      display: block;
      padding: 1.5rem 0; }
    #cc-info .location-wrapper .cc-location-table-row {
      display: flex;
      margin: .25em;
      border-top: #ccc solid 1px; }
      #cc-info .location-wrapper .cc-location-table-row .cc-location-table-row-title {
        padding: .25em;
        font-weight: 700; }
      #cc-info .location-wrapper .cc-location-table-row .cc-location-table-row-comment {
        padding: .25em;
        font-weight: 700; }
      #cc-info .location-wrapper .cc-location-table-row .cc-location-table-row-desc {
        padding: .25em; }
      #cc-info .location-wrapper .cc-location-table-row .cc-location-table-row-addr {
        padding: .25em; }
      #cc-info .location-wrapper .cc-location-table-row .cc-location-table-row-links .map-links {
        font-family: "Roboto";
        font-weight: 700;
        display: inline-block;
        margin-right: 3px;
        padding: 3px;
        text-align: center;
        color: #25346d; }
        #cc-info .location-wrapper .cc-location-table-row .cc-location-table-row-links .map-links:last-child {
          margin-right: 0; }
        #cc-info .location-wrapper .cc-location-table-row .cc-location-table-row-links .map-links a .fa {
          padding-left: 3px; }
    #cc-info .location-wrapper .cc-footer {
      background-color: #090a0a;
      text-align: center;
      color: #fbfbfc; }
      #cc-info .location-wrapper .cc-footer .cc-footer-text {
        font-size: .75em;
        padding: 1em 0; }
        #cc-info .location-wrapper .cc-footer .cc-footer-text p {
          margin: 0 !important; }
          #cc-info .location-wrapper .cc-footer .cc-footer-text p a {
            color: #ccc; }
            #cc-info .location-wrapper .cc-footer .cc-footer-text p a:visited {
              color: #ccc; }
            #cc-info .location-wrapper .cc-footer .cc-footer-text p a:hover, #cc-info .location-wrapper .cc-footer .cc-footer-text p a:active, #cc-info .location-wrapper .cc-footer .cc-footer-text p a:focus {
              color: #9d9d9d; }
