@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700,800");
#cc-info {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #FFF;
  border: #090a0a solid 1px;
  font-family: "Open Sans";
  color: #090a0a; }
  #cc-info a {
    color: #333; }
    #cc-info a:visited {
      color: #333; }
    #cc-info a:hover, #cc-info a:focus, #cc-info a:active {
      color: #ccc; }
  #cc-info .flex-item {
    padding: 5px;
    flex: 1 100%; }
    @media all and (min-width: 568px) {
      #cc-info .flex-item {
        flex: 50%; } }
  #cc-info .cc-header-item {
    height: 100px; }
  #cc-info .cc-body {
    height: 300px; }
  #cc-info .cc-header-title {
    font-weight: 700; }
  #cc-info .cc-header-text a {
    text-decoration: none; }
  #cc-info .cc-google-map {
    display: block; }
    #cc-info .cc-google-map .cc-map {
      width: 250px;
      height: 200px; }
  #cc-info .location-wrapper {
    overflow-y: scroll;
    width: 250px; }
    #cc-info .location-wrapper .cc-map-title {
      font-size: 1.5em;
      text-align: center;
      display: block;
      font-weight: 700; }
    #cc-info .location-wrapper .cc-location-table-row {
      display: block;
      margin: .25em;
      border-top: #090a0a solid 1px; }
      #cc-info .location-wrapper .cc-location-table-row .cc-location-table-row-title {
        padding: .25em;
        font-weight: 700; }
      #cc-info .location-wrapper .cc-location-table-row .cc-location-table-row-comment {
        padding: .25em;
        font-weight: 700; }
      #cc-info .location-wrapper .cc-location-table-row .cc-location-table-row-desc {
        padding: .25em; }
      #cc-info .location-wrapper .cc-location-table-row .cc-location-table-row-addr {
        font-size: .75em;
        padding: .25em; }
      #cc-info .location-wrapper .cc-location-table-row .cc-location-table-row-links .map-links {
        font-family: "Open Sans";
        font-weight: 700;
        display: inline-block;
        margin-right: 3px;
        padding: 3px;
        text-align: center;
        color: #25346d;
        font-size: .75em; }
        #cc-info .location-wrapper .cc-location-table-row .cc-location-table-row-links .map-links:last-child {
          margin-right: 0; }
        #cc-info .location-wrapper .cc-location-table-row .cc-location-table-row-links .map-links a .fa {
          padding-left: 3px; }
    #cc-info .location-wrapper .cc-footer {
      background-color: #090a0a;
      text-align: center;
      color: #FFF; }
      #cc-info .location-wrapper .cc-footer .cc-footer-text {
        font-size: .75em;
        padding: 1em 0; }
        #cc-info .location-wrapper .cc-footer .cc-footer-text p {
          margin: 0 !important; }
          #cc-info .location-wrapper .cc-footer .cc-footer-text p a {
            color: #ccc; }
            #cc-info .location-wrapper .cc-footer .cc-footer-text p a:visited {
              color: #ccc; }
            #cc-info .location-wrapper .cc-footer .cc-footer-text p a:hover, #cc-info .location-wrapper .cc-footer .cc-footer-text p a:active, #cc-info .location-wrapper .cc-footer .cc-footer-text p a:focus {
              color: #9d9d9d; }

/*# sourceMappingURL=cc-widget.css.map */
